<?php

$config = [];

// database
$config[ 'db_host' ] = '127.0.0.1';
$config[ 'db_port' ] = '3306';
$config[ 'db_name' ] = 'grace_2013_registration';
$config[ 'db_user' ] = 'your_db_user_name';
$config[ 'db_pass' ] = 'your_db_user_password';

// environment
$config[ 'environment' ] = 'development'; // development, test, stage, production

if ( in_array( $config[ 'environment' ], [ 'stage', 'production' ] ) ) {
	$config[ 'debug' ] = 0;
	$config[ 'cache' ] = true;
} else {
	$config[ 'debug' ] = 3;
	$config[ 'cache' ] = false;
}

return $config;
