@import "base.less";

html, body {
	margin: 0;
	height: 100%;
}

body {
	color: @default-text;
	font-size: @default-font-size;
	font-family: @sans-serif;
	background-color: @base-color;
}

body, h1, h2, h3, h4, h5, h6, label {
	line-height: @default-line-height;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }

h3, h4 { font-weight: @buff; }

.container {
	.box-sizing();
	min-height: 100%;
	padding-bottom: @gutter-size;
}

.logo, .logo-sub {
	display: inline-block;
	line-height: 100px;
	vertical-align: baseline;
}

.logo {
	margin: @gutter-size 10px 0 0;
	width: 109px;
	height: 100px;

	.hide-text();

	background: url("/app/img/logo_placeholder.png") no-repeat scroll left top;
	background-size: contain;
}

.logo-sub {
	position: relative;
	top: -8px;
	font-family: @cursive;
	font-size: 40px;
}

.title,
.subtitle {
	color: @darkest;
}

.title {
	font-size: @title-font-size;
}

.subtitle {
	font-size: @larger-font-size;
}

#progress {
	display: none;

	.bar {
		.transition(width 2s);
	}
}

#form {
	.box-sizing();
	padding-top: (@gutter-size / 3);
	vertical-align: top;

	.alert {
		display: none;
	}

	.btn {
		.box-sizing();
		width: 150px
	}
}

.question-title {
	margin-bottom: 0;

	font-family: 'Georgia', serif;
	line-height: @default-line-height;

	border-bottom: 0 none;
}

.fields {
	padding-top: (@gutter-size / 1.5);
	padding-bottom: @gutter-size;
}

.control-group { margin-bottom: (@gutter-size / 1.5); }
.control-group:last-child { margin-bottom: 0; }

.question-field,
.question-input,
.fields .radio {
	vertical-align: middle;
	font-size: @larger-font-size;
	line-height: @default-line-height;
}

.radio, .checkbox {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.question-field {
	max-width: 150px;

	line-height: 35px;
	text-transform: capitalize;
}

.question-input {
	padding: 5px;
}

.meal-plan {
	& &-header,
	& &-meal { text-align: center; }

	.input-checkbox { margin: 0; }
	&-select-all-container {
		text-align: right;
		margin-bottom: (@gutter-size / 1.5);
	}
	&-select-all {
		margin: -2px 0 0 10px !important; // overwriting bootstrap
	}
}

#grace-registration-form {
	line-height: @default-line-height;
	margin-top: @gutter-size;

	label, input {
		font-size: @default-font-size;
		font-family: @sans-serif;
	}

	legend {
		margin-top: (@gutter-size * 1.5);
	}

	.row-fluid {
		margin-bottom: (@gutter-size);
	}

	#name {
		.last-name {
			float: right;
		}
	}

	#address {
		.address-1 {
			margin-bottom: (@gutter-size / 3);
		}
	}

	#phone {
		.phone-1 {
			margin-bottom: (@gutter-size / 3);
		}
	}

	#status,
	#status-18,
	#kids,
	#undergraduate,
	.kids-count,
	.church-name {
		display: none;
	}

	#kids,
	#church {
		.first-question {
			min-height: 65px;
		}
	}

	#kids {
		.kids-no {
			margin-left: @gutter-size;
		}
	}
}

.btn { margin-right: @gutter-size; }

.agreement {
	padding-top: @gutter-size;
	// &-title { margin-top: 0; padding-top: @gutter-size; }
	&-text { margin-bottom: @gutter-size; }
	&-list-item { margin-bottom: 1em; }
}

.info-wrapper { margin-bottom: @gutter-size; }

.answers {
	line-height: 1.5;
	&-field { padding-right: @gutter-size; width: 40%; }
	&-field, &-value { padding-bottom: 10px; vertical-align: top; }

	&-buttons { padding-top: @gutter-size; }
}

// Large desktop
@media (min-width: 1200px) {

}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {

}

// Landscape phone to portrait tablet
@media (max-width: 767px) {
	#grace-registration-form {
		label {
			margin-top: (@gutter-size / 2);
		}

		input[type="text"] {
			margin-bottom: (@gutter-size / 3);
		}
	}
}

// Landscape phones and down
@media (max-width: 480px) {

}
