@import "base.less";

html, body {
	margin: 0;
	height: 100%;
}

body {
	color: @default-text;
	font-size: @default-font-size;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	line-height: 1.3;
	background-color: #999;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }

h3, h4 { font-weight: @buff; }

.container {
	.box-sizing();
	min-height: 100%;
	padding-bottom: @gutter-size;

	background-color: @base-color;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

.form,
.answers {
	.box-sizing();
	float: left;
}

.form {
	padding: @gutter-size 0 0 @gutter-size;
	width: 60%;
}

.answers {
	width: 37%;
	padding-left: @gutter-size;
	padding-right: @gutter-size;
}

h1 {
	margin: 0;
	width: 164px;
	height: 150px;

	.hide-text();

	background: url("/app/img/logo_placeholder.png") no-repeat scroll left top;
	background-size: contain;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

#grace-registration-form {
	line-height: 1.3;
	margin-top: @gutter-size;

	label, input {
		font-size: @default-font-size;
		font-family: 'Open Sans', 'Helvetica', sans-serif;
	}

	label {
		line-height: 1.3;
	}

	legend {
		margin-top: (@gutter-size * 1.5);
	}

	.row-fluid {
		margin-bottom: (@gutter-size);
	}

	#name {
		.last-name {
			float: right;
		}
	}

	#address {
		.address-1 {
			margin-bottom: (@gutter-size / 3);
		}
	}

	#phone {
		.phone-1 {
			margin-bottom: (@gutter-size / 3);
		}
	}

	#status,
	#status-18,
	#kids,
	#undergraduate,
	.kids-count,
	.church-name {
		display: none;
	}

	#kids,
	#church {
		.first-question {
			min-height: 65px;
		}
	}

	#kids {
		.kids-no {
			margin-left: @gutter-size;
		}
	}

	#church {
		.church-no {
			margin-left: @gutter-size;
		}
	}
}

// Large desktop
@media (min-width: 1200px) {

}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {

}

// Landscape phone to portrait tablet
@media (max-width: 767px) {
	#grace-registration-form {
		label {
			margin-top: (@gutter-size / 2);
		}

		input[type="text"] {
			margin-bottom: (@gutter-size / 3);
		}
	}
}

// Landscape phones and down
@media (max-width: 480px) {

}
