<!doctype html>
<html>
<head>
	<title>Grace Conference 2013 Registration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
	<link href="/app/css/app.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="form-container span8">
				<div class="logo-container row-fluid">
					<h1 class="logo">Grace Conference 2013: The Beloved Registration Form</h1>
				</div>
				<div id="view-container" class="row-fluid"></div>
			</div>
			<div class="span2"></div>
		</div>
	</div>
	<script src="/app/js/libraries/modernizr.js"></script>
	<script>
	var gc = {
			app : {},
			views : {},
			models : {},
			collections : {},
			session : {}
		},
		tester = undefined;

	<?php
	if ( !empty( $SESSION[ 'number_of_attendees' ] ) ) {
		echo "gc.session.number_of_attendees = ". $SESSION[ 'number_of_attendees' ] .";\r\n\t";
	}
	if ( !empty( $SESSION[ 'invoice' ] ) ) {
		echo "gc.session.invoice = '". $SESSION[ 'invoice' ] ."';\r\n\t";
	}

	if ( !empty( $SESSION[ 'attendee_ids' ] ) ) {
		echo "gc.session.attendee_ids = [". implode( ', ', $SESSION[ 'attendee_ids'] ) ."];\r\n\t";
	}

	if ( !empty( $SESSION[ 'attendees' ] ) ) {
		foreach ( $SESSION[ 'attendees' ] as $i => $attendee ) {
			echo "gc.session[ 'attendee_$i.all_questions_completed' ] = true;\r\n\t";
			foreach ( $attendee[ 'answers' ] as $fieldValues ) {
				echo "gc.session[ 'attendee_$i.". $fieldValues[ 'field' ] ."' ] = '". htmlspecialchars_decode( $fieldValues[ 'value' ] ) ."';\r\n\t";
			}
		}
	}
	?>

	yepnope( [
		{
			load : [
				'/app/js/compiled/libraries.min.js'
			],
			complete : function() {
				gc.initQueue = $.Deferred();
				gc.init = function( func ) {
					gc.initQueue.promise().done( func );
				};

				gc.template = function( templateName, stache ) {
					return $( gc.templates[ templateName ].render( stache ) );
				}
			}
		},
		{
			load : [
				'/app/js/compiled/app.min.js', // .min or app.js
				'/app/js/compiled/templates.min.js'
			],
			complete : function() {
				gc.initQueue.resolve();
			}
		}
	] );
	</script>
</body>
</html>
